/*---------- FONTS -------------*/


/*--------Specification--------*/

body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body.black {
    background: #1f1f1f;
    color: #fff;
}

body.black .recomm__left p {
    color: #fff;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container-sm {
    width: 1042px;
	margin: 0 auto; 
}

li {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
    padding: 0;

}

div, p, ul, li, span, button, input, a, form {
	-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
    color: #2F80ED;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    color: #333;
}
.title-l {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
}
.title-m {
    font-weight: 900;
font-size: 32px;
line-height: 40px;
}

.title-s {
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
}

.title-sm {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

textarea:active,
textarea:focus {
    outline: none;
}





input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

input {
  border: 0;
  outline: none;
}

.menu_btn {
    display: none;
}

.btn {
    background: #2F80ED;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 43px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
       -moz-box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
            box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
}

.btn:hover {
    background: rgba(47,128,237,0.85);
    text-decoration: none;
}

.btn-sec {
    background: #EAF3FF;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2F80ED;
    padding: 14px 16px;
}

.btn-sec:hover {
    background: #2F80ED;
    color: #fff;
}

p {
    line-height: 36px;
    font-size: 20px;
}


.breadcrumbs {
    font-size: 14px;
    line-height: 24px;
    color: #BDBDBD;
    margin-bottom: 28px;
    position: relative;
    z-index: 2;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 24px;
    color: #BDBDBD;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__separator {
    margin: 0 10px;
}



/* ----SLICK--- */




/* ---pagination--- */




/* -----------------------------Header---------------------------- */

.header {
    padding: 49px 0 45px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    z-index: 4;
    background: #ffffff;
}

.header.opened {
    
}

.header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.header__main-menu > li > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    border-bottom: 2px solid transparent;
}

.header__main-menu > li:not(:last-child) {
    margin-right: 40px;
}
.header__main-menu > li:last-child > a {
    color: #2F80ED;
}

.header__main-menu > li > a:hover {
    text-decoration: none;
    border-bottom: 2px solid #333;
}

.header__main-menu > li:last-child > a:hover {
    border-bottom: 2px solid #2F80ED;
}


.menu-item-has-children {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-item-has-children > a {
    cursor: pointer;
}
.menu-item-has-children:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    margin-left: 8px;
    cursor: pointer;
    background: url('../img/svg/head-arrow.svg') no-repeat 0 0 / cover;
}

.header > .container {
    position: relative;
}

.menu-item-has-children > .sub-menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 1200px;
    left: 0;
    height: 0;
    pointer-events: none;
    top: 70px;
    opacity: 0;
    z-index: 4;
    padding: 40px 0 64px;
    border-top:1px solid rgba(196,196,196,0.3);
    background: #fff;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu-item-has-children > .sub-menu.opened {
    height: auto;
    opacity: 1;
}

.menu-item-has-children > .sub-menu:after {
    content: '';
    display: block;
    width: 2560px;
    height: 100%;
    position: absolute;
    left: -680px;
    top: 0;
    background: #fff;
    z-index: -1;
}

.wrap:after {
    position: absolute;
    content: '';
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 3;
    background: rgba(0,0,0,0.7);
}

body.opened .wrap:after {
    opacity: 1;
}

body.opened {
    overflow-y: hidden;
}

.menu-item-has-children > .sub-menu > li > a {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 24px;
    padding-right: 18px;
    position: relative;
    display: inline-block;
}

.menu-item-has-children > .sub-menu > li > a:after,
.menu-item-has-children > .sub-menu > li > a::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 6px;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.menu-item-has-children > .sub-menu > li > a:after {
    top: 21px;
    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

.menu-item-has-children > .sub-menu > li > a::before {
    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: 17px;
}

.menu-item-has-children > .sub-menu > li > a:hover {
    text-decoration: none;
    color: #2F80ED;
}

.menu-item-has-children > .sub-menu > li > a:hover::before,
.menu-item-has-children > .sub-menu > li > a:hover::after {
    background:  #2F80ED;
}

.menu-item-has-children > .sub-menu > li > .sub-menu > li:not(:last-child) {
    margin-bottom: 8px;
}

.menu-item-has-children > .sub-menu > li > .sub-menu > li > a {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
} 


/* -----MAIN SECTION--- */

.main {
    padding-bottom: 105px;
    background: url('../img/bg-main.jpg') no-repeat 0 0 / cover;
}

.main__wrap {
    padding: 56px 0 36px;
    position: relative;
    width: 61%;
}

.main__wrap::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -70px;
    z-index: 0;
    width: 1197px;
    height: 608px;
    background: url('../img/main-line.png') no-repeat 0 0 / cover;
}

.main .title {
    margin-bottom: 32px;
    position: relative;
    z-index: 1;
}

.main p {
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
}

/* ----main cards--- */

.main-cards {
    margin: -14px 0 95px;
}

.main-cards__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-cards__item {
    width: 30%;
}

.main-cards__img {
    position: relative;
    margin:0 0 42px 17px;
    min-width: 42px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main-cards__img:after {
    content: '';
    display: block;
    width: 56px;
    height: 3px;
    position: absolute;
    bottom: -13px;
    left: -5px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -moz-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.main-cards__title {
    margin-bottom: 8px;
}

.main-cards__item p {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}


/* ---main gp--- */

.main-gp {
    padding-bottom: 148px;
}

.main-gp__wrap {
    background: #2F80ED url('../img/main-gp-bg.png') no-repeat right top / contain;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 48px 72px 47px;
    color: #fff;
    margin-bottom: 88px;
    -webkit-filter: drop-shadow(0px 10px 25px rgba(47, 128, 237, 0.2));
            filter: drop-shadow(0px 10px 25px rgba(47, 128, 237, 0.2));
}

.main-gp__wrap .title-m {
    margin-bottom: 16px;
}

.main-gp__wrap p {
    width: 41%;
    opacity: 0.7;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 170%;
}

.main-gp__link {
    font-weight: 700;
    color:#fff;
    text-decoration: underline;
}

.main-gp__link svg {
    margin-left: 11px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.main-gp__link:hover svg {
    margin-left: 15px;
}

.main-gp__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 103px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-gp__item {
    width: 30%;
    position: relative;
}
.main-gp__item span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #2F80ED;
    width: 48px;
    height: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.main-gp__item .title-sm {
    margin-bottom: 8px;
}

.main-gp__item p {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-gp__item:nth-child(1)::before,
.main-gp__item:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
}

.main-gp__item:nth-child(1)::before {
    width: 1px;
    height: 42px;
    background: url('../img/line-v.png') no-repeat 0 0 / cover;
    top: -62px;
    left: 24px;
}

.main-gp__item:not(:last-child)::after {
    width: 269px;
    height: 1px;
    background: url('../img/line-g.png') no-repeat 0 0 / cover;
    top: 24px;
    right: -24px;
}

.main-gp__img {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: relative;
    margin-bottom: 80px;
}

.main-gp__img::before,
.main-gp__img::after {
    content: '';
    display: block;
    position: absolute;
    width: 116px;
    height: 116px;
    background: url('../img/dots.png') no-repeat 0 0 / cover;
    z-index: 0;
}

.main-gp__img::before {
    bottom: -41px;
    left: -41px;
}

.main-gp__img::after {
    top: -41px;
    right: -41px;
}

.main-gp__img img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.center__link {
    text-align: center;
}

.main-gp__more {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #2F80ED;
}

/* ---main nic--- */

.main-nic {
    padding-bottom: 164px;
}

.main-nic .title {
    width: 70%;
    margin-bottom: 156px;
}

.main-nic__tit {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    margin-bottom: 48px;
    display: block;
}

.main-nic__wrap {
    color: #333;
    background: #FCFF5A url('../img/main-nic-bg.png') no-repeat right top / contain;
}

.main-nic__wrap .main-gp__link {
    color: #333;
}


.main-nic__item:nth-child(1)::before {
    background: url('../img/line-v-y.png') no-repeat 0 0 / cover;
}

.main-nic__item:not(:last-child)::after {
    background: url('../img/line-g-y.png') no-repeat 0 0 / cover;
}

.main-nic__item span {
    color: #333;
    background: #FCFF5A;
}


.recomm__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.recomm__left {
    width: 50%;
}
.recomm__right {
    width: 37%;
}

.recomm__left .title-m {
    margin-bottom: 32px;
}

.recomm__left p {
    font-size: 16px;
    line-height: 170%;
    color: #333333;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* ---main black--- */

body.black .title {
    color: #fff;
}

.main__black .title {
    width: 70%;
    margin-bottom: 156px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-black__wrap {
    background: #FFFFFF url('../img/main-black-bg.png') no-repeat right top / contain;
    color: #333;
}

.main-black__wrap a {
    color: #333;
}

.main-black__item:nth-child(1)::before {
    background: url('../img/line-v-b.png') no-repeat 0 0 / cover;
}

.main-black__item:not(:last-child)::after {
    background: url('../img/line-g-b.png') no-repeat 0 0 / cover;
}

.main-black__item span {
    color: #333;
    background: #fff;
}
body.black .main-black__item .title-sm {
    color: #fff;
}

body.black .main-black__item p {
    color: #FFFFFF;
opacity: 0.6;
}


/* ----main prof --- */

.main__prof {
    padding: 155px 0 156px;
}

.main-prof__wrap {
    margin-bottom: 104px;
    background: #2F80ED url('../img/main-prof-bg.png') no-repeat right top / contain;
}

.main__prof .title {
    width: 72%;
    margin-left: auto;
    margin-bottom: 149px;
}

.main__prof-smtit {
    margin-bottom: 48px;
    width: 68%;
    display: block;
    font-weight: 900;
    font-size: 24px;
    line-height: 48px;
}

.main__guide-item .title-s {
    text-align: center;
    margin-bottom: 24px;
}

.main__guide-item p {
    line-height: 170%;
    width: 66%;
    text-align: center;
    margin: 0 auto 64px;
}

.main__guide-item {
    margin-bottom: 104px;
}


.main-guide__img::before {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.main-guide__img-help:after {
    content: '';
    display: block;
    position: absolute;
    width: 116px;
    height: 116px;
    background: url('../img/dots.png') no-repeat 0 0 / cover;
    z-index: 0;
    bottom: -41px;
    right: -41px;
}

.main__guide-item-last {
    margin-bottom: 64px;
}


/* ---faq--- */

.faq {
    padding-bottom: 128px;
}

.faq .title {
    text-align: center;
    margin-bottom: 88px;    
}

.faq__item {
    position: relative;
}

.faq__item:not(:last-child) {
    padding-bottom: 31px;
    margin-bottom: 32px;
}

.faq__item:not(:last-child)::after {
    content: '';
    display: block;
    background: #F2F2F2;
    height: 1px;
    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;
}

.faq__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.faq__title:after,
.faq__title::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    bottom: 0;
    margin: auto 0;
    background: #E0E0E0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.faq__title:after {
    width: 25px;
    height: 5px;
    right: 29px;
}

.faq__title::before {
    height: 25px;
    width: 5px;
    right: 39px;
}

.faq__title.opened {
    color: #2F80ED;
}

.faq__title.opened:after {
    background: #2F80ED;
}
.faq__title.opened::before {
    background: #2F80ED;
    -webkit-transform: rotateZ(90deg);
       -moz-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
}

.faq__item p {
    display: none;
    padding-top: 24px;
    width: 75%;    
}


/* ---author--- */

.author {
    padding: 86px 0 153px;
    position: relative;
}

.author::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: -100px;
    top: 58px;
    width: 2500px;
    height: 450px;
    background: #2F80ED;
    -webkit-transform: rotateZ(-6deg);
       -moz-transform: rotateZ(-6deg);
        -ms-transform: rotate(-6deg);
         -o-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
}

.author__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.author__left {
    width: 30%;
}

.author__right {
    width: 60%;
}

.author__img {
    overflow: hidden;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.author__img img {
    display: block;
    width: 100%;
}

.author__name {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.author__who {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
}

.author__right {
    color: #fff;
}

.author__right .title-s {
    margin-bottom: 24px;
}

/* ---quest--- */

.quest {
    padding: 96px 0 140px;
}

.quest .title {
    text-align: center;
    margin-bottom: 56px;
}

.quest__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 791px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.quest__form-row {
    width: 100%;
}

.quest__inp-wrap {
    width: 48%;
    margin-bottom: 32px;
}

.quest__inp-title {
    display: block;
    
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.quest__inp {
    width: 100%;
    display: block;
    background: #EEF5FE;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;
padding: 15px 16px;
font-size: 16px;
}

.quest__tar-wrap {
    width: 100%;
}

.quest__textar {
    outline: none;
    border: none;
    min-height: 96px;
    resize: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.quest__textar:focus {
    outline: none;
    border: none;
}

.quest__check-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.quest__check-wrap label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    position: relative;
}

.quest__check-wrap label:after,
.quest__check-wrap label::before {
    content: '';
    position: absolute;
    left: 0;
}

.quest__check-wrap label::before {
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #333333;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.quest__check-wrap label:after {
    content: '';
    display: none;
    width: 10px;
    height: 8px;
    top: 6px;
    left: 5px;
    background: url('../img/ok.png') no-repeat 0 0 / cover;
}

.quest__check-wrap input {
    display: none;
}

.quest__check-wrap input:checked + label {
    color: #2F80ED;
}

.quest__check-wrap input:checked + label:before {
    border-color: #2F80ED;
    background: #2F80ED;
}

.quest__check-wrap input:checked + label:after {
    display: block;
}

