/*---------- FONTS -------------*/


/*--------Specification--------*/

body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body.black {
    background: #1f1f1f;
    color: #fff;
}

body.black .recomm__left p {
    color: #fff;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.container-sm {
    width: 1053px;
	margin: 0 auto; 
}

.container-xs {
    margin: 0 auto; 
    width: 858px;  
}

li {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
    padding: 0;

}

div, p, ul, li, span, button, input, a, form {
	-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
    color: #2F80ED;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    color: #333;
}
.title-l,
.page-art h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
}
.title-m {
    font-weight: 900;
font-size: 32px;
line-height: 40px;
}

.title-s {
    font-weight: 900;
    font-size: 28px;
    line-height: 150%;
}
.page-art h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.title-sm {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

textarea:active,
textarea:focus {
    outline: none;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

input {
  border: 0;
  outline: none;
}

.menu_btn {
    display: none;
}

.btn {
    background: #2F80ED;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 43px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
       -moz-box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
            box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.2);
}

.btn:hover {
    background: rgba(47,128,237,0.85);
    text-decoration: none;
}

.btn-sec {
    background: #EAF3FF;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2F80ED;
    padding: 14px 16px;
}

.btn-sec:hover {
    background: #2F80ED;
    color: #fff;
}

p {
    line-height: 36px;
    font-size: 20px;
}


.breadcrumbs {
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    margin:59px 0 32px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__separator {
    margin: 0 10px;
}



/* ----SLICK--- */




/* ---pagination--- */




/* -----------------------------Header---------------------------- */

.header {
    padding: 45px 0 43px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    z-index: 4;
    background: #ffffff;
}

.header__page:after,
.header__page:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__page:after {
    background: url('../img/header-r.png') no-repeat 0 0 / cover;
    width: 541px;
    height: 344px;
    right: 0;
}

.header__page:before {
    background: url('../img/header-l.png') no-repeat 0 0 / cover;
    width: 330px;
    height: 383px;
    left: 0;
}

.header__page.opened:after,
.header__page.opened::before {
    opacity: 0;
}

.header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.header__main-menu > li > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    border-bottom: 2px solid transparent;
}

.header__main-menu > li:not(:last-child) {
    margin-right: 40px;
}
.header__main-menu > li:last-child > a {
    color: #2F80ED;
}

.header__main-menu > li > a:hover {
    text-decoration: none;
    border-bottom: 2px solid #333;
}

.header__main-menu > li:last-child > a:hover {
    border-bottom: 2px solid #2F80ED;
}


.menu-item-has-children {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-item-has-children > a {
    cursor: pointer;
}
.menu-item-has-children:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    margin-left: 8px;
    cursor: pointer;
    background: url('../img/svg/head-arrow.svg') no-repeat 0 0 / cover;
}

.header > .container {
    position: relative;
}

.menu-item-has-children > .sub-menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 1200px;
    left: 0;
    height: 0;
    pointer-events: none;
    top: 68px;
    opacity: 0;
    z-index: 4;
    padding: 40px 0 64px;
    border-top:1px solid rgba(196,196,196,0.3);
    background: #fff;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu-item-has-children > .sub-menu.opened {
    height: auto;
    opacity: 1;
    pointer-events: unset;
}

.menu-item-has-children > .sub-menu:after {
    content: '';
    display: block;
    width: 2560px;
    height: 100%;
    position: absolute;
    left: -680px;
    top: 0;
    background: #fff;
    z-index: -1;
}



.black-scr {
    position: absolute;
    content: '';
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100vh;
    left: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 3;
    background: rgba(0,0,0,0.7);
}

body.opened .black-scr {
    opacity: 1;
}

body.opened {
    overflow-y: hidden;
}

.menu-item-has-children > .sub-menu > li > a {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 24px;
    padding-right: 18px;
    position: relative;
    display: inline-block;
}

.menu-item-has-children > .sub-menu > li > a:after,
.menu-item-has-children > .sub-menu > li > a::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 6px;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.menu-item-has-children > .sub-menu > li > a:after {
    top: 21px;
    -webkit-transform: rotateZ(-45deg);
       -moz-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

.menu-item-has-children > .sub-menu > li > a::before {
    -webkit-transform: rotateZ(45deg);
       -moz-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: 17px;
}

.menu-item-has-children > .sub-menu > li > a:hover {
    text-decoration: none;
    color: #2F80ED;
}

.menu-item-has-children > .sub-menu > li > a:hover::before,
.menu-item-has-children > .sub-menu > li > a:hover::after {
    background:  #2F80ED;
}

.menu-item-has-children > .sub-menu > li > .sub-menu > li:not(:last-child) {
    margin-bottom: 8px;
}

.menu-item-has-children > .sub-menu > li > .sub-menu > li > a {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
} 


/* -----MAIN SECTION--- */

.main {
    padding-bottom: 100px;
    background: url('../img/bg-main.jpg') no-repeat 0 0 / cover;
}

.main__wrap {
    padding: 56px 0 36px;
    position: relative;
    width: 61%;
}

.main__wrap::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -70px;
    z-index: 0;
    width: 1197px;
    height: 608px;
    background: url('../img/main-line.png') no-repeat 0 0 / cover;
}

.main .title {
    margin-bottom: 32px;
    position: relative;
    z-index: 1;
}

.main p {
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
    line-height: 34px;
}

/* ----main cards--- */

.main-cards {
    margin: -14px 0 95px;
}

.main-cards__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-cards__item {
    width: 31.5%;
}

.main-cards__img {
    position: relative;
    margin:0 0 35px 9px;
    min-width: 42px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main-cards__img:after {
    content: '';
    display: block;
    width: 56px;
    height: 3px;
    position: absolute;
    bottom: -9px;
    left: -5px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -moz-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.main-cards__title {
    margin-bottom: 8px;
}

.main-cards__item p {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}


/* ---main gp--- */

.main-gp {
    padding-bottom: 148px;
}

.main-gp__wrap {
    background: #2F80ED url('../img/main-gp-bg.png') no-repeat right top / contain;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 48px 72px 51px;
    color: #fff;
    margin-bottom: 88px;
    -webkit-filter: drop-shadow(0px 10px 25px rgba(47, 128, 237, 0.2));
            filter: drop-shadow(0px 10px 25px rgba(47, 128, 237, 0.2));
}

.main-gp__wrap .title-m {
    margin-bottom: 16px;
}

.main-gp__wrap p {
    width: 41%;
    opacity: 0.7;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 170%;
}

.main-gp__link {
    font-weight: 700;
    color:#fff;
    text-decoration: underline;
}

.main-gp__link svg {
    margin-left: 11px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.main-gp__link:hover svg {
    margin-left: 15px;
}

.main-gp__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 103px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-gp__item {
    width: 31.5%;
    position: relative;
}
.main-gp__item span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #2F80ED;
    width: 48px;
    height: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.main-gp__item .title-sm {
    margin-bottom: 8px;
}

.main-gp__item p {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-gp__item:nth-child(1)::before,
.main-gp__item:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
}

.main-gp__item:nth-child(1)::before {
    width: 1px;
    height: 42px;
    background: url('../img/line-v.png') no-repeat 0 0 / cover;
    top: -62px;
    left: 24px;
}

.main-gp__item:not(:last-child)::after {
    width: 269px;
    height: 1px;
    background: url('../img/line-g.png') no-repeat 0 0 / cover;
    top: 24px;
    right: -24px;
}

.main-gp__img {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: relative;
    margin-bottom: 80px;
}

.main-gp__img::before,
.main-gp__img::after {
    content: '';
    display: block;
    position: absolute;
    width: 116px;
    height: 116px;
    background: url('../img/dots.png') no-repeat 0 0 / cover;
    z-index: 0;
}

.main-gp__img::before {
    bottom: -41px;
    left: -41px;
}

.main-gp__img::after {
    top: -41px;
    right: -41px;
}

.main-gp__img img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.center__link {
    text-align: center;
}

.main-gp__more {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #2F80ED;
}

/* ---main nic--- */

.main-nic {
    padding-bottom: 114px;
}

.main-nic .title {
    width: 70%;
    margin-bottom: 156px;
}

.main-nic__tit {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    margin-bottom: 48px;
    display: block;
}

.main-nic__wrap {
    color: #333;
    background: #FCFF5A url('../img/main-nic-bg.png') no-repeat right top / contain;
}

.main-nic__wrap .main-gp__link {
    color: #333;
}


.main-nic__item:nth-child(1)::before {
    background: url('../img/line-v-y.png') no-repeat 0 0 / cover;
}

.main-nic__item:not(:last-child)::after {
    background: url('../img/line-g-y.png') no-repeat 0 0 / cover;
}

.main-nic__item span {
    color: #333;
    background: #FCFF5A;
}


.recomm__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 17px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.recomm__left {
    width: 49%;
}
.recomm__right {
    width: 39%;
}

.recomm__left .title-m {
    margin-bottom: 32px;
    line-height: 48px;
}

.recomm__left p {
    font-size: 16px;
    line-height: 170%;
    color: #333333;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* ---main black--- */

.main__black {
    padding-top: 50px;
}

body.black .title {
    color: #fff;
}

.main__black .title {
    width: 70%;
    margin-bottom: 156px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-black__wrap {
    background: #FFFFFF url('../img/main-black-bg.png') no-repeat right top / contain;
    color: #333;
}

.main-black__wrap a {
    color: #333;
}

.main-black__item:nth-child(1)::before {
    background: url('../img/line-v-b.png') no-repeat 0 0 / cover;
}

.main-black__item:not(:last-child)::after {
    background: url('../img/line-g-b.png') no-repeat 0 0 / cover;
}

.main-black__item span {
    color: #333;
    background: #fff;
}
body.black .main-black__item .title-sm {
    color: #fff;
}

body.black .main-black__item p {
    color: #FFFFFF;
opacity: 0.6;
}


/* ----main prof --- */

.main__prof {
    padding: 155px 0 156px;
}

.main-prof__wrap {
    margin-bottom: 104px;
    background: #2F80ED url('../img/main-prof-bg.png') no-repeat right top / contain;
}

.main__prof .title {
    width: 72%;
    margin-left: auto;
    margin-bottom: 149px;
}

.main__prof-smtit {
    margin-bottom: 48px;
    width: 68%;
    display: block;
    font-weight: 900;
    font-size: 24px;
    line-height: 48px;
}

.main__guide-item .title-s {
    text-align: center;
    margin-bottom: 24px;
}

.main__guide-item p {
    line-height: 170%;
    width: 66%;
    text-align: center;
    margin: 0 auto 64px;
}

.main__guide-item {
    margin-bottom: 104px;
}


.main-guide__img::before {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.main-guide__img-help:after {
    content: '';
    display: block;
    position: absolute;
    width: 116px;
    height: 116px;
    background: url('../img/dots.png') no-repeat 0 0 / cover;
    z-index: 0;
    bottom: -41px;
    right: -41px;
}

.main__guide-item-last {
    margin-bottom: 64px;
}

.main-gp__mb {
    margin-bottom: 67px;
}


/* ---faq--- */

.faq {
    padding-bottom: 128px;
}

.faq .title {
    text-align: center;
    margin-bottom: 88px;    
}

.faq__item {
    position: relative;
}

.faq__item:not(:last-child) {
    padding-bottom: 31px;
    margin-bottom: 32px;
}

.faq__item:not(:last-child)::after {
    content: '';
    display: block;
    background: #F2F2F2;
    height: 1px;
    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;
}

.faq__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.faq__title:after,
.faq__title::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    bottom: 0;
    margin: auto 0;
    background: #E0E0E0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.faq__title:after {
    width: 25px;
    height: 5px;
    right: 21px;
}

.faq__title::before {
    height: 25px;
    width: 5px;
    right: 31px;
}

.faq__title.opened {
    color: #2F80ED;
}

.faq__title.opened:after {
    background: #2F80ED;
}
.faq__title.opened::before {
    background: #2F80ED;
    -webkit-transform: rotateZ(90deg);
       -moz-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
}

.faq__item p {
    display: none;
    padding-top: 24px;
    width: 75%;    
}


/* ---author--- */

.author {
    padding: 86px 0 153px;
    position: relative;
}

.author::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: -100px;
    top: 78px;
    width: 2500px;
    height: 438px;
    background: #2F80ED;
    -webkit-transform: rotateZ(-5.5deg);
       -moz-transform: rotateZ(-5.5deg);
        -ms-transform: rotate(-5.5deg);
         -o-transform: rotateZ(-5.5deg);
            transform: rotateZ(-5.5deg);
}

.author__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.author__left {
    width: 29%;
}

.author__right {
    width: 65%;
}

.author__img {
    height: 315px;
    overflow: hidden;
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.author__img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.author__name {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.author__who {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
}

.author__right {
    color: #fff;
}

.author__right .title-s {
    margin-bottom: 24px;
}

.author__right p {
    line-height: 34px;
}

/* ---quest--- */

.quest {
    padding: 96px 0 140px;
}

.quest .title {
    text-align: center;
    margin-bottom: 56px;
}

.quest__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 791px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.quest__form-row {
    width: 100%;
}

.quest__inp-wrap {
    width: 48%;
    margin-bottom: 32px;
}

.quest__inp-title {
    display: block;
    
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.quest__inp {
    width: 100%;
    display: block;
    background: #EEF5FE;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;
padding: 15px 16px;
font-size: 16px;
}

.quest__tar-wrap {
    width: 100%;
}

.quest__textar {
    outline: none;
    border: none;
    min-height: 96px;
    resize: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.quest__textar:focus {
    outline: none;
    border: none;
}

.quest__check-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.quest__check-wrap label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    position: relative;
}

.quest__check-wrap label:after,
.quest__check-wrap label::before {
    content: '';
    position: absolute;
    left: 0;
}

.quest__check-wrap label::before {
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #333333;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.quest__check-wrap label:after {
    content: '';
    display: none;
    width: 10px;
    height: 8px;
    top: 6px;
    left: 5px;
    background: url('../img/ok.png') no-repeat 0 0 / cover;
}

.quest__check-wrap input {
    display: none;
}

.quest__check-wrap input:checked + label {
    color: #2F80ED;
}

.quest__check-wrap input:checked + label:before {
    border-color: #2F80ED;
    background: #2F80ED;
}

.quest__check-wrap input:checked + label:after {
    display: block;
}

.quest__inp-titcheck {
    margin-bottom: 49px;
}

.quest__inp-titcheck .quest__inp-title {
    margin-bottom: 13px;
}

/* ---footer--- */

.footer {
    padding: 79px 0 80px;
    position: relative;
    border-top: 1px solid #F2F2F2;
}

.footer:after,
.footer::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 168px;
    z-index: 1;
}

.footer::before {
    width: 466px;
    background: url('../img/footer-l.png') no-repeat 0 0 / cover;
    left: 0;
}

.footer::after {
    width: 510px;
    background: url('../img/footer-r.png') no-repeat 0 0 / cover;
    right: 0;
}

.footer__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__left {
    margin-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__left span {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    opacity: 0.7;
}

.footer__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 42%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 24px;
    display: block;
}

.footer__list li a {
    color: #333;
    line-height: 24px;
}

.footer__list li:not(:last-child) {
    margin-bottom: 16px;
}


/* ----GUESTPOSTING---- */

/* --page main--- */

.page-main {
    padding-bottom: 114px;
}

.page-main .title {
    text-align: center;
    margin: 0 auto 28px;
    width: 75%;
}

.page-main p {
    text-align: center;
    width: 55%;
    margin: 0 auto 45px;
}

.page-main__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 105px;
}

.page-main__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.page-main-mb {
    padding-bottom: 34px;
}

.page-main .center__link:not(:last-child) {
    margin-bottom: 113px;
}

.page-main .center__link:last-child {
    margin-bottom: 65px;
}

.page-main_img {
    position: relative;
    margin-bottom: 32px;
    height: 42.5px;
}


.page-main_img:after {
    content: '';
    display: block;
    width: 56px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: -15px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -moz-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-radial-gradient(50% 50%, 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.page-main__title {
    margin-bottom: 8px;
    text-align: center;
}

.page-main__item p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #828282;
    width: 86%;
    margin: 0;
}


.page-main__table {
    position: relative;
}

.page-main__table::before {
    content: '';
    position: absolute;
    display: block;
    width: 672px;
    height: 557px;
    background: url('../img/page-t-bg.png') no-repeat 0 0 / cover;
    left: -128px;
    bottom: -90px;
}

.page-main__table .main-gp__img {
    margin-bottom: 0;
}

/* ---howork--- */

.howork {
    padding: 50px 0 218px;
}

.howork-mb {
    padding-bottom: 111px;
}

.howork .title-l {
    text-align: center;
    margin-bottom: 103px;
}

.howork__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.howork__card:not(:last-child) {
    margin-bottom: 182px;
}

.howork__card:nth-child(2) .howork__title {
    text-align: right;
}

.howork__right {
    width: 48%;
}

.howork__card-img {
    margin-top: -8px;
    width: 37%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.howork__card-img::before {
    content: '';
    display: block;
    position: absolute;
}

.howork__card:nth-child(1) .howork__card-img::before {
    width: 304px;
    height: 287px;
    left: 0;
    bottom: -42px;
    background: url('../img/howork1h.png') no-repeat 0 0 / cover;
}
.howork__card:nth-child(2) .howork__card-img::before {
    width: 288px;
    height: 304px;
    left: 10px;
    bottom: -71px;
    background: url('../img/howork2h.png') no-repeat 0 0 / cover;
}
.howork__card:nth-child(3) .howork__card-img::before {
    width: 304px;
    height: 282px;
    left: 0;
    bottom: -66px;
    background: url('../img/howork3h.png') no-repeat 0 0 / cover;
}

.howork__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.howork__right p {
    opacity: 0.7;
    text-align: left;
}

.howork__card:nth-child(2) .howork__right p {
    text-align: right;
}


/* ---categ--- */

.categ {
    background: #EEF5FE;
    padding: 96px 0;
}

.categ .title-l {
    margin-bottom: 8px;
}

.categ__smtitle {
    font-size: 16px;
    line-height: 170%;
    color: #333333;
    opacity: 0.7;
    margin-bottom: 48px;
    display: block;
}

.categ__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -20px -20px 20px;
}

.categ__item-wrap {
    width: 33.3%;
    padding: 20px;
}

.categ__item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 24px;
}

.categ__item-tit {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
}

.categ__item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.categ__item span svg {
    display: none;
}


.categ__item span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #BDBDBD;
}

.categ__item a svg {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    margin-left: 10px;
}

.categ__item a:hover svg {
    opacity: 1;
}

.categ__item a:hover {
    text-decoration: none;
}

.btn-cat {
    background: #E4EDFA;
    padding: 16px 24px;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    text-transform: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.btn-cat svg {
    margin-left: 12px;
}

.btn-cat:hover {
    color: #333;
    background: #d8e0ed;
}

/* ---page-art-- */

.page-art {
    padding: 96px 0 112px;
}

.page-art h2 {
    margin-bottom: 24px;
}

.page-art h3 {
    margin: 44px 0 16px;
}

.page-art p:not(:last-child) {
    margin-bottom: 48px;
}

.page-art p {
    letter-spacing: -0.007em;
}

.wp-block-embed-youtube {
    margin: 0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    height: 442px;
    overflow: hidden;
}

.wp-block-embed-youtube .wp-block-embed__wrapper,
.wp-block-embed-youtube .wp-block-embed__wrapper iframe {
    height: 100%;
}

.list__wrap {
    margin-bottom: 40px;
}

.page-art .list__wrap span {
    display: block;
    font-size: 20px;
    line-height: 36px;
}

.page-art .list__wrap span:not(:last-child) {
    margin-bottom: 24px;
}

table {
    width: 100%;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border-spacing: 0;
    margin-bottom: 40px;
}

thead tr th,
tbody tr:not(:last-child) td {
    border-bottom: 1px solid #E0E0E0;
}

th,
td {
    padding: 17px 24px 18px;
    text-align: left;
    font-size: 16px;
    line-height: 27px;
    width: 33.3%;
}

.page-art ol {
    margin:0 0 40px;
    padding: 0;
    counter-reset: item;
}

.page-art ol li:not(:last-child) {
    margin-bottom: 24px;
}

.page-art ol li {
    font-size: 20px;
line-height: 36px;
}

.page-art ol li::before {
    content: counter(item)'.' ;
    counter-increment: item; 
    font-weight: 700;
    margin-right: 5px;
}

.wp-block-quote {
    position: relative;
    padding-left: 64px;
    margin: 0 0 48px;
}

.wp-block-quote p {
    letter-spacing: 0;
}

.wp-block-quote::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: url('../img/quote.png') no-repeat 0 0 / cover;
    top:0;
    left: 0;

}

.wp-block-quote p {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    margin-bottom: 24px !important;
}

.wp-block-quote a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.wp-block-quote a span {
    color: #333;
}

.wp-block-image {
    margin: 0 0 48px;
}

.wp-block-image:first-child {
    margin-bottom: 65px;
}

.wp-block-image img {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 10px 32px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    
}

.wp-block-image img:not(:last-child) {
    margin-bottom: 16px;
}

figcaption {
    text-align: center;
    font-size: 16px;
    line-height: 29px;
    color: #838383;
}

/* ---isnt--- */

.isnt {
    padding: 96px 0 33px;
    background: #EEF5FE;
}

.isnt .title-l {
    margin-bottom: 24px;
}

.isnt p {
    margin-bottom: 64px;
    letter-spacing: -0.007em;
    line-height: 34px;
}

.isnt__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.isnt__card {
    width: 29%;
}

.isnt__img {
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.isnt__title {
    font-weight: 700;
font-size: 20px;
line-height: 32px;
margin-bottom: 8px;
}

.isnt__card p {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}

/* ---page faq--- */

.page-faq {
    padding: 112px 0 69px;
}

.page-faq .title-l {
    margin-bottom: 64px;
}

.page-faq .faq__title {
    font-size: 20px;
    line-height: 32px;
}

.page-faq .faq__item {
    padding-bottom: 31px;
    margin-bottom: 32px;
}

.page-faq .faq__item::after {
    content: '';
    display: block;
    background: #F2F2F2;
    height: 1px;
    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;
}


/* ---try--- */

.try {
    padding-bottom: 96px;
    border-bottom: 1px solid #F2F2F2;
}

.try__wrap {
    background: url('../img/try-bg.jpg') no-repeat 0 0 / cover;
    padding: 40px 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.try__title {
    font-weight: 900;
font-size: 28px;
line-height: 42px;
margin-bottom: 16px;

}

.try__wrap p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 32px;
}

.try__btn {
    background: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #2F7CE4;
    padding: 16px 45px;
}

.try__btn:hover {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), #2F80ED;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #2F80ED;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #2F80ED;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #2F80ED;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #2F80ED;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

/* ---other--- */

.other {
    padding: 96px 0 140px;
}

.other .title-l {
    margin-bottom: 40px;
}

.other__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.other__card {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
            border-radius: 10px;
    width: 30%;
    padding: 24px 24px 20px;
}

.other__title {
    font-weight: 900;
font-size: 20px;
line-height: 30px;
margin-bottom: 8px;
}

.other__card p {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 12px;
}

/* ---blog--- */

.blog {
    padding-bottom: 73px;
}

.blog__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: -40px -20.5px 40px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.blog p {
    margin-bottom: 37px;
}

.blog__item-wrap {
    width: 33.3%;
    padding: 40px 20.5px;
}

.blog__item span {
    display: block;
}

.blog__img {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
}

.blog__img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.blog__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 9px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog__meta {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blog__separ {
    margin: 0 3px;
}

.blog__item:hover {
    text-decoration: none;
}

.blog__item:hover .blog__title {
    color: #2F80ED;
}

.blog__btn {
    padding: 20px 125px;
}

.blog .center__link {
    margin-bottom: 0;
}

/* ---blog info--- */

.blog-info .title {
    text-align: center;
    width: 80%;
    margin: 0 auto 24px;
}

.blog-info p {
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    text-align: center;
} 

.blog-info + .page-art {
    padding-top: 48px;
}

.blog__author {
    padding-bottom: 96px;
    border-bottom: 1px solid #F2F2F2;
}

.blog__author-help {
    background: #F5F5F5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 32px 52px 32px 40px;
}

.blog__author-help p {
    font-size: 16px;
line-height: 24px;
}

.blog__author-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.blog__author-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blog__author-img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-right: 24px;
}

.blog__author-img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.blog__author-namewrap span {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    opacity: 0.7;
}

.blog__author-name {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    margin-bottom: 4px;
    opacity: 1 !important;
}

.blog__author-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.blog__author-soc {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 900;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: rgba(188, 188, 188, 0.1);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.blog__author-soc:hover {
    text-decoration: none;
    color: #fff;
}


.blog__author-soc svg path {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog__author-soc:hover svg path {
    fill: #fff;
}

.blog__author-soc:nth-child(1):hover {
    background: #2F80ED;
}

.blog__author-soc:nth-child(2):hover {
    background: #333333;
}

.blog__author-soc:nth-child(3):hover {
    background: #3B5999;
}

.blog__author-soc:nth-child(4):hover {
    background: #0E76A9;
}

.blog__author-soc:not(:last-child) {
    margin-right: 16px;
}


.related {
    padding: 96px 0 58px;
}

.related .title-l {
    text-align: center;
    margin-bottom: 56px;
}


/* ---contacts--- */

.cont-bread .breadcrumbs {
    text-align: left;
}

.contacts {
    padding-bottom: 140px;
}

.contacts .title {
    margin-bottom: 32px;
}

.contacts p {
    margin-bottom: 48px;
}

.contacts p a {
    text-decoration: underline;
}

.contacts .quest__form {
    max-width: unset;
}

.about .page-art {
    padding-top: 24px;
}


/* -----------------------------LOGIN PAGE---------------------------- */

.login {
    min-height: 100vh;
    background: #E5E5E5;
    padding: 82px 0;
}

.login__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.login__logo {
    margin-bottom: 62px;
}

.login__form {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 476px;
}

.login__form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 24px;
}

.form__input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 16px 14px;
    color: #828282;
    width: 100%;
}

.form__input::-webkit-input-placeholder {
    color: #828282;
}

.form__input:-moz-placeholder {
    color: #828282;
}

.form__input::-moz-placeholder {
    color: #828282;
}

.form__input:-ms-input-placeholder {
    color: #828282;
}

.form__input::-ms-input-placeholder {
    color: #828282;
}

.form__input::placeholder {
    color: #828282;
}


.form__password {
    margin-bottom: 25px;
    position: relative;
}

.form__email {
    margin-bottom: 32px;
}

.pass__label {
    position: absolute;
    top: 19px;
    right: 18px;
    cursor: pointer;
}

.form__forgot {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
}

.form__btn-wrap {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 24px;
}

.form__btn {
    width: 100%;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 0;
    font-weight: 500;
}

.form__btn:hover {
    text-decoration: none;
}

.form__small-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.login__done-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 16px;
}

.login__done-txt {
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-bottom: 32px;
}
