/*---------- FONTS -------------*/


/*--------Specification--------*/

body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #333;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
	width: 1193px;
	margin: 0 auto;
}

li {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
    padding: 0;

}

div, p, ul, li, span, button, input, a, form {
	-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
    line-height: 27px;
}

a {
	color: #828282;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

.title {
    font-weight: 900;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 16px;
}
.title-sm {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 32px;
}

textarea:active,
textarea:focus {
    outline: none;
}





input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

input {
  border: 0;
  outline: none;
}

.menu_btn {
    display: none;
}

.btn {
    background: #2F80ED;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
}

.btn:hover {
    background: rgba(47,128,237,0.85);
}

.btn-sec {
    background: #EAF3FF;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2F80ED;
    padding: 14px 16px;
}

.btn-sec:hover {
    background: #2F80ED;
    color: #fff;
}

p {
    line-height: 27px;
}


/* -----------------------------LOGIN PAGE---------------------------- */

.login {
    min-height: 100vh;
    background: #E5E5E5;
    padding: 82px 0;
}

.login__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.login__logo {
    margin-bottom: 66px;
}

.login__form {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 476px;
}

.login__form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 24px;
}

.form__input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    color: #828282;
    width: 100%;
}

.form__input::-webkit-input-placeholder {
    color: #828282;
}

.form__input:-moz-placeholder {
    color: #828282;
}

.form__input::-moz-placeholder {
    color: #828282;
}

.form__input:-ms-input-placeholder {
    color: #828282;
}

.form__input::-ms-input-placeholder {
    color: #828282;
}

.form__input::placeholder {
    color: #828282;
}


.form__password {
    margin-bottom: 24px;
    position: relative;
}

.form__email {
    margin-bottom: 32px;
}

.pass__label {
    position: absolute;
    top: 19px;
    right: 18px;
    cursor: pointer;
}

.form__forgot {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
}

.form__btn-wrap {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 24px;
}

.form__btn {
    width: 100%;
    display: block;
    text-decoration: none;
}

.form__small-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.login__done-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 16px;
}

.login__done-txt {
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-bottom: 32px;
}

/* ---- Customer Guestposting page--- */

/* ---HEADER---- */

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    padding: 20px 0 19px;
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header__wrap {

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 16px;
}

.menu-item {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.menu-item a {
    display: block;
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.menu-item:hover,
.menu-item.active {
    background: #F2F2F2;
}

.sub-menu {
    position: absolute;
    display: none;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
}

.sub-menu li a {
    font-size: 16px;
    line-height: 48px;
    color: #333333;
    text-transform: unset;
    padding: 0;
}


.menu-item-has-children {
    
    position: relative;
}

.menu-item-has-children:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 15px;
    bottom: 3px;
    margin: auto 0;
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #2F80ED;
}

.menu-item-has-children a {
    color: #2F80ED;
    padding: 8px 36px 8px 8px;
}

.menu-item-has-children:hover {
    background: #EAF3FF;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

/* ----GUEST SECTION---- */

.content {
    padding: 104px 0 321px;
}

.guest p {
    margin-bottom: 24px;
}

.filters {
    margin-bottom: 32px;
}

.btn__filt {
    display: inline-block;
    text-decoration: none;
    padding: 18px 16px 18px 19px;
    
}

.btn__filt svg {
    margin-right: 11px;
}

.btn__filt svg path {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn__filt:hover svg path {
    fill: #fff;
}

input[type="checkbox"] {
    display: none;
}

.guest__inp {
    width: 14px;
    height: 14px;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 2px solid #BDBDBD;
    position: relative;
}

.guest__table th:first-child,
.guest__table tr:first-child {
    width: 5%;
}



.guest__inp:after {
    content: '';
    position: absolute;
    display: none;
    width: 18px;
    height: 18px;
    background: url('../img/svg/ok.svg') no-repeat 0 0 / cover;
    top: -2px;
    left: -2px;
}

.guest__head-inp:after {
    content: '';
    position: absolute;
    display: none;
    width: 12px;
    height: 2px;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.guest__col input[type="checkbox"]:checked + .guest__head-inp {
    background: #2F80ED;
    border-color: #2F80ED;
}

.guest__col input[type="checkbox"]:checked + .guest__head-inp:after,
.guest__table td:first-child input[type="checkbox"]:checked + .guest__inp:after {
    display: block;
}

.guest__table td:nth-child(even),
.guest__table th:nth-child(even) {
    background: #F9F9F9;
}

.guest__table th:nth-child(even) {
    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

.guest__table tr:last-child th:nth-child(even) {
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}

.guest__table tr:not(:last-child),
.guest__head {
    border-bottom: 1px solid #F2F2F2;
}

.guest__table td,
.guest__table th {
    vertical-align: top;
    text-align: left;
    padding: 16px 0 16px 16px;
}

.guest__table th {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}


.guest__table td:first-child,
.guest__table th:first-child {
    padding: 19px 0 0 0;
}

.guest__table td:nth-child(2) {
    width: 20%;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.guest__table td:nth-child(3) {
    width: 12%;
}
.guest__table td:nth-child(4),
.guest__table td:nth-child(5) {
    width: 9%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.guest__table td:nth-child(6) {
    width: 12%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.guest__table td:nth-child(7) {
    width: 15%;
}
.guest__table td:nth-child(8) {
    width: 15%;
}


.quest {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #E0E0E0;
    width: 12px;
    height: 12px;
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
}

.quest span {
    position: absolute;
    top: -30px;
    left: 10px;
    z-index: 5;
    display: none;
    padding: 4px;
    background: #fff;
    color: #828282;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #E0E0E0;
}

.quest:hover span {
    display: block;
}

.guest__col-wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.guest__flag {
    display: inline-block;
    margin-right: 11px;
}

.guest__web {
    margin-left: 14px;
}

.guest__table td:nth-child(3) span {
    font-size: 12px;
    line-height: 12px;
    color: #828282;
    background: #F9F9F9;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 4px;
    margin: 0 4px 4px 0;
    display: inline-block;
}

.guest__table ul li {
    font-size: 12px;
    line-height: 16px;
    padding-left: 22px;
    position: relative;
}

.guest__table ul li:not(:last-child) {
    margin-bottom: 8px;
}

.guest__table ul li.not-avi {
    color: #828282;
}

.guest__table ul li::before {
    content: '';
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    display: block;
    left: 0;
    top: 2px;
    background: #27AE60 url('../img/svg/li-ok.svg') no-repeat center center;
}

.guest__table ul li.not-avi::before {
    background: #E0E0E0 url('../img/svg/cross.svg') no-repeat center center;
}

.guest__price {
    display: block;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.guest__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.guest__wrap span:first-child {
    width: 50%;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.guest__wrap span:last-child {
    width: 48%;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;   
}

.orange {
    color: #F2994A;
}

.green {
    color: #219653;
}

.grey {
    color: #828282;
}


/* ----FOOTER---- */

.footer {
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.footer__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.uselect__btn {
    margin-left: 12px;
    color: #333;
    cursor: pointer;
}

.uselect__btn:hover {
    background: #333;
    color: #fff;
}

.footer__req {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__req svg {
    margin-left: 16px;
}

td.footable-sortable>span.fooicon, th.footable-sortable>span.fooicon {
    opacity: 1 !important;
    position: static !important;
    margin-left: 12px !important;
    padding-bottom: 2px !important;
    margin-top: 0 !important;
}

table.footable>tbody>tr>td.footable-sortable, table.footable>tbody>tr>th.footable-sortable, table.footable>tfoot>tr>td.footable-sortable, table.footable>tfoot>tr>th.footable-sortable, table.footable>thead>tr>td.footable-sortable, table.footable>thead>tr>th.footable-sortable {
    padding-right: 0 !important;
}

.fooicon-sort:before {
    content: '' !important;
    display: block;
    width: 0;
    height: 0;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: #828282;
    border-style: solid;
}

.request__wrap {
    display: none;
    background: #FFFFFF;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
    padding: 32px 25px !important;
    width: 570px;
}

.request__form-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.request__wrap p {
    line-height: 27px;
    margin-bottom: 24px;
}

.request__form-wrap {
    background: #F5F5F5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px;
    margin-bottom: 32px;    
}

.request__list {
    -webkit-text-decoration-line: underline;
       -moz-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #2F80ED;
}

.request__wrap .fancybox-close-small {
    display: none;
}

.request__inp-wrap {
    position: relative;
    margin-bottom: 32px;
}

.request__inp-wrap:after,
.profile__lable:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.request__inp-wrap:after {
    right: 19px;
}

.profile__lable:after {
    right: 0;
}

.request__name::after,
.profile__lable-name::after {
    width: 16px;
    height: 16px;
    background: url('../img/svg/name.svg') no-repeat 0 0 / cover;
}
.request__email::after,
.profile__lable-email::after {
    width: 20px;
    height: 20px;
    background: url('../img/svg/email.svg') no-repeat 0 0 / cover;
}
.request__skype::after,
.profile__lable-skype::after {
    width: 18px;
    height: 18px;
    background: url('../img/svg/skype.svg') no-repeat 0 0 / cover;
}
.request__website::after,
.profile__lable-web::after {
    width: 20px;
    height: 20px;
    background: url('../img/svg/website.svg') no-repeat 0 0 / cover;
}



.request__lable {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #828282;
    padding: 0 4px;
    position: absolute;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 22px;
    left: 16px;
    z-index: 2;
}

.request__input:focus + .request__lable,
.request__inp-wrap.valid .request__lable {
    top: -8px;
    font-size: 12px;
}

.request__input {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 16px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.request__textarea {
    resize: none;
    height: 112px;
    display: block;
}

.request__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.request__btns a {
    width: 48%;
    text-decoration: none;
    cursor: pointer;
}


/* -----OUTREACH PAGE--- */

.outreach__wrap {
    display: block;
    margin: 0 auto;
    width: 380px;
    padding: 0 !important;
}

.outreach .title {
    text-align: center;
}

.outreach p {
    text-align: center;
    width: 56%;
    margin: 0 auto 48px;
}

.outreach__wrap .btn {
    width: 100%;
}


/* ----ORDERS PAGE--- */

.order__table {
    margin-top: 24px;
}

.order__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
}

.order__col:nth-child(1) {
    width: 5%;
}
.order__col:nth-child(2) {
    width: 20%;
}
.order__col:nth-child(3) {
    width: 20%;
}
.order__col:nth-child(4) {
    width: 20%;
}
.order__col:nth-child(5) {
    width: 13%;
}
.order__col:nth-child(6) {
    width: 13%;
}
.order__col:nth-child(7) {
    width: 9%;
}

.order__row {
    font-size: 14px;
}

.order__row-title {
    font-weight: 700;
    font-size: 12px;
}

.order__serv {
    font-weight: 700;
    font-size: 16px;
}

.order__amount span {
    color: #BDBDBD;
}

.order__date span {
    color: #828282;
}

.order__price input {
    display: block;
    width: 80%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 11px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.order__price input::-webkit-input-placeholder {
    color: #BDBDBD;
}

.order__price input:-moz-placeholder {
    color: #BDBDBD;
}

.order__price input::-moz-placeholder {
    color: #BDBDBD;
}

.order__price input:-ms-input-placeholder {
    color: #BDBDBD;
}

.order__price input::-ms-input-placeholder {
    color: #BDBDBD;
}

.order__price input::placeholder {
    color: #BDBDBD;
}

.order__stat span {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 11px 16px;
    display: inline-block;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    min-width: 111px;
}

.stat-green {
    color: #27AE60;
}

.stat-blue {
    color: #2F80ED;
}

.stat-black {
    color: #333;
}
.stat-red {
    color: #EB5757;
}
.order__btn {
    text-decoration: none;
    width: 100%;
    display: block;
}

.profile__lable {
    position: relative;
    display: block;
}

/* ----profile page ---- */

.profile__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.profile__left {
    width: 40%;
    border-right: 1px solid #E0E0E0;
    padding: 104px 64px 321px 0;
}

.profile__right {
    width: 60%;
    padding: 104px 0 321px 64px;
}

.nopb {
    padding: 0;
}
.profile__wrap p {
    line-height: 27px;
    margin-bottom: 40px;
}

.profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.profile__btns .btn-sec {
    display: block;
    width: 48%;
    text-decoration: none;
}

.profile__inp-title {
    font-size: 12px;
    line-height: 16px;
    color: #828282;
}

.profile__input {
    font-size: 16px;
    line-height: 20px;
    display: block;
    width: 100%;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    padding: 4px 0;
    border-bottom: 1px solid #C4C4C4;
}

.profile__inp-wrap:not(:last-of-type) {
    margin-bottom: 45px;
}

.confirmation::before {
    font-size: 12px;
    line-height: 16px;
    color: #EB5757;
    position: absolute;
    content: 'Email is not confirmed';
    left: 0;
    bottom: -21px;
}

.btn-profile,
.current-profile {
    display: block;
    width: 100%;
    background: #F2F2F2;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 18px 0;
}

.btn-profile:hover {
    color: #F2F2F2;
    background: #333;
}

.profile__form .btn-profile {
    margin-top: 37px;
}

.profile__price-wrap {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.profile__billing {
    border-bottom: 1px solid #E0E0E0;
    padding: 22px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.profile__month {
    margin-right: 32px;
}

.profile__check {
    margin-right: 32px;
}

.profile__check label {
    display: block;
    background: rgba(47, 128, 237,0.2);
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
    width: 48px;
    height: 28px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.point-label {
    display: block;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;
    background: #2F80ED;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.profile__check input:checked + label .point-label {
    left: 24px;
}

.profile__plan-free {
    width: 50%;
    padding: 34px 32px 32px 0;
    border-right: 1px solid #E0E0E0;

}

.profile__plan-mon {
    width: 50%;
    padding: 34px 0 32px 32px;
}

.profile__plans-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 32px;
}

.profile__plan-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.profile__plan-cost {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
}

.profile__plan-txt {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 24px;
}

.profile__plans-wrap ul {
    margin-top: 24px;
}

.profile__plans-wrap ul li {
    padding-left: 16px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
}

.profile__plans-wrap ul li::before {
    content: '';
    display: block;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 3px;
    height: 3px;
    position: absolute;
    background: #333;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}

.profile__plan-mon .btn {
    display: block;
    width: 100%;
}

.current-profile,
.profile__btn-sec {
    font-size: 14px;
    padding: 11px 0;
    line-height: 24px;
    display: block;
    text-decoration: none;
}

.activate {
    padding: 32px 24px !important;
    width: 565px;
}

.activate .fancybox-close-small {
    display: none;
}